/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

html {
   background: url(images/ecommerce.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  margin:0;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-repeat: no-repeat;
}

 . {margin:0; padding: 0;}

	#images {
		font-family: sans-serif;
		font-size: 30px;
		line-height: 50px;
		float: left;
		color: #999;
	}

	nav {width:100%; text-align:center;}
	nav ul{float: right; line-height: 50px;}
	nav li{display:inline; list-style-type: none;}
	nav a {text-decoration: none; padding: 10px; color:#999; font-family:sans-serif;}
	nav a:hover {color:#C00;}

	@media screen and (max-width: 768px) {

		#images {width:100%; height:60%;margin-top: 10%;float: right;}
		
		img#j_idt9 {
	padding: 25x;
	margin-left: 100px;
}
body{
	background-image: url(inc/images/deco.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
}

	nav {}
	nav ul{float: none; margin-right: 1024px; background-image: url('${request.contextPath}/inc/ecommerce.jpg'); }
	nav li{}
	nav a { display:block; border-bottom: 50px dotted ; margin-top: 60%; padding: 50px;}
	nav a:hover {}
	}
	

	@media  screen and (max-width: 480px) {

		#images{width:100%; height:60%; margin-top: 15%;float: right;}

img#j_idt9 {
	padding: 25x;
	margin-left: -100px;
	height:40%;
	width:15%
}

body{
	background-image: url(inc/images/ecommerce.jpg);
}
		nav {}
	nav ul{float: none; margin-right: 1024px; background-image: url('${request.contextPath}/inc/ecommerce.jpg'); }
	nav li{}
	nav a { display:block; border-bottom: 50px dotted ; margin-top: 60%; padding: 50px;}
	nav a:hover {}
	}

fieldset {
    padding: 15px;
    float: right;
    margin-top: 20%;
    border: 2px #0568CD solid;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

/* Forms --------------------------------------------------------------------------------------- */

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

form .requis {
    color: #c00;
}
form .erreur {
    color: #900;
}

