/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

html {
   background: url(images/ecommerce.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width:100%;
  margin:0;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-repeat: no-repeat;
}

h1 {
	color: #0568CD;
}
/* Forms --------------------------------------------------------------------------------------- */
fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    margin: 10px;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
    color: #c00;
}

.erreur {
    color: #900;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #E8A22B;
}
/*Ajouts Style pour mise en pages du menu*/
/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

/* Forms --------------------------------------------------------------------------------------- */
fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    margin: 10px;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

/* Styles et couleurs -------------------------------------------------------------------------- */
.requis {
    color: #c00;
}

.erreur {
    color: #900;
}

.succes {
    color: #090;
}

.info {
    font-style: italic;
    color: #E8A22B;
}

/* Blocs constituants -------------------------------------------------------------------------- */
div#menu{
	border: 1px solid #0568CD;
	padding: 10px;
	margin: 10px;
}
div#corps{
	margin: 10px;
}
div#deconnexion{
	border: 1px solid #0568CD;
	padding: 10px;
	margin: 10px;
}
/* Tableaux -------------------------------------------------------------------------------------*/

table{
	border-collapse: collapse;
}
tr.pair{
	background-color: #efefef;
}
tr.impair{
	background-color: #fff;	
}
th{
	color: #0568CD;
	border: 1px solid #0568CD;
	padding: 5px;
}
th.action{
	border: 1px solid #900;
	color: #900;
}
td{
	border: 1px solid #ddd;
	padding: 5px;
}
td.action{
	text-align: center;
}
/* Général ------------------------------------------------------------------------------------- */

body, p, legend, label, input {
    font: normal 8pt verdana, helvetica, sans-serif;
}

fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
}

legend {
    font-weight: bold;
    color: #0568CD;
}

#footer{
  background-color: #DCDCDC;
  color: black;
  position:fixed;
  width: 100%;
  bottom: 0;
  text-align:center;
  height: 1.5em;
  font-weight: bold;
}

. {margin:0; padding: 0;}

	#images {
		font-family: sans-serif;
		font-size: 30px;
		line-height: 50px;
		float: left;
		color: #999;
	}

	nav {width:100%; text-align:center;}
	nav ul{float: right; line-height: 50px;}
	nav li{display:inline; list-style-type: none;}
	nav a {text-decoration: none; padding: 10px; color:#999; font-family:sans-serif;}
	nav a:hover {color:#C00;}

	@media screen and (max-width: 768px) {

		#images {margin-top:-52px;}

div.deconnexion:j_idt10 {
	margin-left: 75%;
	padding: 25x;
	float: left;
	height:40%;
	width:35%
	
	
}

.graphicImage#/images/logoItac.jpg {
	margin-left: 200px;
	height:40%;
	width:15%;
	
}
	nav {}
	nav ul{float: none; margin-top: 50px; background:#C00; }
	nav li{display:inline;}
	nav a {color: #CCC;}
	nav a:hover {color:#FFF;}

	@media screen and (max-width: 480px){

		#deconnexion{width: 100%; text-align: center;}

img#j_idt10 {
	padding: 25x;
	float: left;
	height:40%;
	width:15%
	
}
img#j_idt11 {
	
	margin-top: 200px;
	height:40%;
	width:15%;
	
}

		nav {}
	nav ul{float: nozne; margin-top: 50px; background:#C00; }
	nav li{}
	nav a { display:block; color: #CCC; border-bottom: 1px dotted #CCC; margin:0; padding: 3px;}
	nav a:hover {color:#FFF;}
	}


/* Forms --------------------------------------------------------------------------------------- */

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

form .requis {
    color: #c00;
}
form .erreur {
    color: #900;
}